In [15]:
import mysql.connector as mysql
import mysql.connector as errorcode

In [16]:
cnx = mysql.connect(user='root', password='', host='127.0.0.1')
cursor = cnx.cursor()

In [17]:
DB_NAME="test_db"

In [18]:
TABLES = {}
TABLES["etudiant"]=(
    '''
    create table if not exists etudiant(
        id int primary key not null autoincrement,
        email varchar(50) not null,
        nom varchar(200) not null,
    )
    '''
)

TABLES["enseignant"]=(
    '''
    create table if not exists enseignant(
        id int primary key not null autoincrement,
        email varchar(50) not null,
        nom varchar(200) not null
    )
    '''
)

In [19]:
def create_database(cursor):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))
    except mysql.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)
        
try:
    cursor.execute("USE {}".format(DB_NAME))
except mysql.Error as err:
    print(f"Database {DB_NAME} does not exists.")
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        print(f"Database {DB_NAME} created successfully.")
        cnx.database = DB_NAME
    else:
        print(err)
        exit(1)

In [20]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table etudiant:

AttributeError: module 'mysql.connector' has no attribute 'ER_TABLE_EXISTS_ERROR'