<a href="https://colab.research.google.com/github/pia-fcse-bdeb/Cours-EDUlib/blob/master/module-3/Exercices/pratique_encodage.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Pratique Encodage categoriel

## pratique 1

On se propose ici de reprendre le dataframe "appréciation" que nous avons vu lors de la vidéo. On va l'encoder avec LabelEncoder, ensuite avec la fonction map et un dictionnaire et mettre le tout dans un dataframe final pour comparer.

### Creation du dataframe appréciation

In [2]:
import pandas as pd

In [67]:
# Création du dataframe
df = pd.DataFrame({"Cible": ["Satisfait", "Insatisfait", "Neutre", 
                             "Satisfait", "Très Satisfait", "Très Insatisfait"] })
# afficher le dataframe
df

              Cible
0         Satisfait
1       Insatisfait
2            Neutre
3         Satisfait
4    Très Satisfait
5  Très Insatisfait

### Encodage avec LabelEncoder

In [70]:
# Importer LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [71]:
# Créer l'objet LabelEncoder
le = LabelEncoder()

In [72]:
# Créer une nouvelle série encodée avec LabelEncoder 
df["Cible_cat_le"] = le.fit_transform(df["Cible"])

In [73]:
# Vérification, afficher le dataframe
df

              Cible  Cible_cat_le
0         Satisfait             2
1       Insatisfait             0
2            Neutre             1
3         Satisfait             2
4    Très Satisfait             4
5  Très Insatisfait             3

### Refaire l'encodage avec une fonction map

* Créer un dictionnaire qui va servir d'encodeur:
    * Le dictionnaire prend comme clé la catégorie et retourne la valeur qui est la catégorie encodée

In [74]:
# Ici vous devez remplir le dictionnaire et choisir la valeur d'encodage pour chaque catégorie
dict_enc = { "Très Insatisfait": 1,
             "Insatisfait": 2,
             "Neutre": 3,
             "Satisfait":4,
             "Très Satisfait":5
           }

* Créer une nouvelle série **Cible_cat_dict** contenant catégories encodées à l'aide du dictionnaire et la fonction map

In [75]:
# Completez la ligne de code pour encoder à l'aide de la fonction map et le dictionnaire
df["Cible_cat_dict"] = df["Cible"].map(lambda x: dict_enc[x])

In [76]:
# Afficher le dataframe df
df

              Cible  Cible_cat_le  Cible_cat_dict
0         Satisfait             2               4
1       Insatisfait             0               2
2            Neutre             1               3
3         Satisfait             2               4
4    Très Satisfait             4               5
5  Très Insatisfait             3               1

## pratique 2

On s'intéresse maintenant un petit dataset portant sur la vente de billets d'avions. Il contient quatre colonnes:
Le genre du client, la tranche d’âge, la classe de siège et l'appréciation du client

## Lire le fichier de données en utilisant pandas.read_csv

On vous fournit les lignes de codes qui permettent de charger les données, vous pouvez soit :
* Télécharger le fichier de données et procéder à son chargement sur votre machine locale ou bien sur google Colab. Pour cela, il vous faut décommenter la **cellule A** et commenter la **cellule B**.
* Charger les données directement depuis google drive sans avoir à télécharger le fichier sur votre machine locale. Pour ce faire, utilisez les lignes de code de la **cellule B**.

### Cellule A

In [ ]:
# # importer la librairie pandas
# import pandas as pd
# # lecture du fichier de données
# data = pd.read_csv("data_Bavions.csv")

### Cellule B

In [77]:
%pwd
%cd ..
%cd fichiers

C:\Users\HP\Analyse de donnee pour IA
C:\Users\HP\Analyse de donnee pour IA\fichiers

In [78]:
# charger les données contenues dans un fichiers csv se trouvant sur drive
#URL = 'https://drive.google.com/file/d/1S4QYTIksbUBtHflaipui4ZkFuC3zZyOS/view?usp=sharing'
#data_Bavions = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]
data = pd.read_csv("data_Bavions.csv")

In [79]:
# créer une copie pour ne pas toucher au dataframe d'origine 
df = data.copy()

In [80]:
# Afficher dataframe
df

     Genre    Age      Classe      Appreciation
0  femelle  20-30  Économique         Satisfait
1     Mâle  20-30    Affaires       Insatisfait
2     Mâle  31-40  Économique            Neutre
3  femelle  41-50    Première         Satisfait
4  femelle    <20  Économique    Très Satisfait
5     Mâle  31-40  Économique  Très Insatisfait

* Aide:
    * Utiliser ordinalEncoder pour encoder les colonnes Age, Classe et Appreciation
    * On va exclure la série **sexe** pour ne pas introduire un ordre entre les genres.

In [81]:
# on va donc considérer la liste suivante
liste_colonnes = ["Age", "Classe", "Appreciation"]

In [82]:
# Importer OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder

In [83]:
# Utiliser l'option categories pour indiquer au transformateur l'ordre qu'on souhaite respecter
# Completez le code
oe = OrdinalEncoder(categories=[ ["<20", "20-30", "31-40", "41-50"],
                                 ["Économique", "Affaires", "Première"],
                                 ["Très Insatisfait", "Insatisfait", "Neutre", "Satisfait", "Très Satisfait"]
                               ]
                   )

In [84]:
# Proceder à l'ajustement et transformation des données en completant le code
resultat = oe.fit_transform(df[liste_colonnes])

In [85]:
# Afficher resultat
resultat

array([[1., 0., 3.],
       [1., 1., 1.],
       [2., 0., 2.],
       [3., 2., 3.],
       [0., 0., 4.],
       [2., 0., 0.]])

In [89]:
# mettre le resultat dans un dataframe en completant le code
df_enc = pd.DataFrame(resultat, columns =["Age_", "Classe_", "Appreciation_"] )

In [90]:
# Afficher le dataframe df_enc
df_enc

   Age_  Classe_  Appreciation_
0   1.0      0.0            3.0
1   1.0      1.0            1.0
2   2.0      0.0            2.0
3   3.0      2.0            3.0
4   0.0      0.0            4.0
5   2.0      0.0            0.0

In [91]:
# Joindre les deux dataframe pour afficher dans un même dataframe les colonnes avant et après encodage, on mettra le tout dans
# df_final

df_final = df.join(df_enc)

In [92]:
# Afficher le dataframe final
df_final

     Genre    Age      Classe      Appreciation  Age_  Classe_  Appreciation_
0  femelle  20-30  Économique         Satisfait   1.0      0.0            3.0
1     Mâle  20-30    Affaires       Insatisfait   1.0      1.0            1.0
2     Mâle  31-40  Économique            Neutre   2.0      0.0            2.0
3  femelle  41-50    Première         Satisfait   3.0      2.0            3.0
4  femelle    <20  Économique    Très Satisfait   0.0      0.0            4.0
5     Mâle  31-40  Économique  Très Insatisfait   2.0      0.0            0.0

### Série Genre

In [93]:
# Importer OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [101]:
# créer l'objet OneHotEncoder et mettre sparse = False
ohe = OneHotEncoder(sparse=False)

In [102]:
# Proceder à l'ajustement et transformation des données, on stocke le tout dans resultat
resultat = ohe.fit_transform(df_final[["Genre"]])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [103]:
# afficher resultat
resultat

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [107]:
# Mettre resultat dans un dataframe

res = pd.DataFrame(resultat,  columns = ohe.get_feature_names_out(['Genre']))

In [110]:
# Afficher le dataframe res
res

   Genre_Mâle  Genre_femelle
0         0.0            1.0
1         1.0            0.0
2         1.0            0.0
3         0.0            1.0
4         0.0            1.0
5         1.0            0.0

In [111]:
# Joindre les deux dataframe pour afficher dans un même dataframe les colonnes avant et après encodage
df_final2 = df_final.join(res)

In [112]:
#Afficher df_final2
df_final2

,Genre,Age,Classe,Appreciation,Age_,Classe_,Appreciation_,Genre_Mâle,Genre_femelle
0,femelle,20-30,Économique,Satisfait,1.0,0.0,3.0,0.0,1.0
1,Mâle,20-30,Affaires,Insatisfait,1.0,1.0,1.0,1.0,0.0
2,Mâle,31-40,Économique,Neutre,2.0,0.0,2.0,1.0,0.0
3,femelle,41-50,Première,Satisfait,3.0,2.0,3.0,0.0,1.0
4,femelle,<20,Économique,Très Satisfait,0.0,0.0,4.0,0.0,1.0
5,Mâle,31-40,Économique,Très Insatisfait,2.0,0.0,0.0,1.0,0.0

# Solutionnaire

## pratique 1:

On se propose ici de reprendre le dataframe "appréciation" que nous avons vu lors de la vidéo. On va l'encoder avec LabelEncoder, ensuite avec la fonction map et un dictionnaire et mettre le tout dans un dataframe final pour comparer.

### Creation du dataframe appréciation

In [7]:
import pandas as pd

In [8]:
# Création du dataframe
df = pd.DataFrame({"Cible": ["Satisfait", "Insatisfait", "Neutre", 
                               "Satisfait", "Très Satisfait", "Très Insatisfait"] })
# afficher le dataframe
df

              Cible
0         Satisfait
1       Insatisfait
2            Neutre
3         Satisfait
4    Très Satisfait
5  Très Insatisfait

### Encodage avec LabelEncoder

In [9]:
# Importer LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [10]:
# Créer l'objet LabelEncoder
le = LabelEncoder()

In [11]:
# Créer une nouvelle série encodée avec LabelEncoder 
df["Cible_cat_le"] = le.fit_transform(df["Cible"])

In [12]:
# Vérification
df

              Cible  Cible_cat_le
0         Satisfait             2
1       Insatisfait             0
2            Neutre             1
3         Satisfait             2
4    Très Satisfait             4
5  Très Insatisfait             3

### Refaire l'encodage avec une fonction map

* Créer un dictionnaire qui va servir d'encodeur:
    * Le dictionnaire prend comme clé la catégorie et retourne la valeur qui est la catégorie encodée

In [13]:
# Ici vous devez remplir le dictionnaire
dict_enc = {"Très Insatisfait":1,
            "Insatisfait":2,
            "Neutre":3,
            "Satisfait":4,
            "Très Satisfait":5}

* Créer une nouvelle série **Cible_cat_dict** contenant catégories encodées à l'aide du dictionnaire et la fonction map

In [14]:
# Completez la ligne de code
df["Cible_cat_dict"] = df["Cible"].map(lambda categorie: dict_enc[categorie])

In [15]:
# Afficher le dataframe
df

              Cible  Cible_cat_le  Cible_cat_dict
0         Satisfait             2               4
1       Insatisfait             0               2
2            Neutre             1               3
3         Satisfait             2               4
4    Très Satisfait             4               5
5  Très Insatisfait             3               1

## Pratique 2

On s'interesse maintenant un peutit dataset portant sur la vente de billets d'avions. Il contient quatre colonnes:
Le genre du client, la tranche d'age, la classe de siège et l'appréciation du client

In [16]:
import pandas as pd

In [17]:
# charger les données contenues dans un fichiers csv se trouvant sur drive
URL = 'https://drive.google.com/file/d/1S4QYTIksbUBtHflaipui4ZkFuC3zZyOS/view?usp=sharing'
data_Bavions = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]

# lire le dataset
df = pd.read_csv(data_Bavions)
# afficher le dataset
df

     Genre    Age      Classe      Appreciation
0  femelle  20-30  Économique         Satisfait
1     Mâle  20-30    Affaires       Insatisfait
2     Mâle  31-40  Économique            Neutre
3  femelle  41-50    Première         Satisfait
4  femelle    <20  Économique    Très Satisfait
5     Mâle  31-40  Économique  Très Insatisfait

* Aide:
    * Utiliser ordinalEncoder pour encoder les colonnes Age, Classe et Appreciation
    * On va exclure la série **sexe** pour ne pas introduire un ordre entre les genres.

In [18]:
# on va donc considérer la liste suivante
liste_colonnes = ["Age", "Classe", "Appreciation"]

In [19]:
# Importer OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder

In [20]:
# Utiliser l'option categories pour indiquer au transformeur l'ordre qu'on souhaite respecter
# Completez le code
oe = OrdinalEncoder(categories=[ ["<20", "20-30", "31-40", "41-50"],
                                 ["Économique", "Affaires", "Première"],
                                 ["Très Insatisfait", "Insatisfait", "Neutre", "Satisfait", "Très Satisfait"]
                               ]
                   )

In [21]:
# Proceder à l'ajustement et transformation des données en completant le code
resultat = oe.fit_transform(df[liste_colonnes])

In [22]:
# Afficher resultat
resultat

array([[1., 0., 3.],
       [1., 1., 1.],
       [2., 0., 2.],
       [3., 2., 3.],
       [0., 0., 4.],
       [2., 0., 0.]])

In [23]:
# mettre le resultat dans un dataframe en completant le code
df_enc = pd.DataFrame(resultat, columns = ["Age_bins_oe", "Classe_eo", "Appreciation_eo"])

In [24]:
# Afficher le dataframe df_enc
df_enc

   Age_bins_oe  Classe_eo  Appreciation_eo
0          1.0        0.0              3.0
1          1.0        1.0              1.0
2          2.0        0.0              2.0
3          3.0        2.0              3.0
4          0.0        0.0              4.0
5          2.0        0.0              0.0

In [25]:
# Joindre les deux dataframe pour afficher dans un même dataframe les colonnes avant et après encodage, on mettra le tout dans
# df_final
df_final = df.join(df_enc)

In [26]:
# Afficher le dataframe final
df_final

,Genre,Age,Classe,Appreciation,Age_bins_oe,Classe_eo,Appreciation_eo
0,femelle,20-30,Économique,Satisfait,1.0,0.0,3.0
1,Mâle,20-30,Affaires,Insatisfait,1.0,1.0,1.0
2,Mâle,31-40,Économique,Neutre,2.0,0.0,2.0
3,femelle,41-50,Première,Satisfait,3.0,2.0,3.0
4,femelle,<20,Économique,Très Satisfait,0.0,0.0,4.0
5,Mâle,31-40,Économique,Très Insatisfait,2.0,0.0,0.0

## Série Genre

In [27]:
# Importer OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [28]:
# créer l'objet OneHotEncoder et mettre sparse = False
ohe = OneHotEncoder(sparse = False)

In [29]:
# Proceder à l'ajustement et transformation des données
resultat = ohe.fit_transform(df[["Genre"]])

In [30]:
# afficher resultat
resultat

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [31]:
# Mettre resultat dans un dataframe
# ici on précise le nom Genre dans get_feature_names pour l'utiliser dans le nom des nouvelles séries encodées
res = pd.DataFrame(resultat,  columns = ohe.get_feature_names(["Genre"]))

In [32]:
# Afficher le dataframe res
res

   Genre_Mâle  Genre_femelle
0         0.0            1.0
1         1.0            0.0
2         1.0            0.0
3         0.0            1.0
4         0.0            1.0
5         1.0            0.0

In [33]:
# Joindre les deux dataframe pour afficher dans un même dataframe les colonnes avant et après encodage
df_final2 = df_final.join(res)

In [34]:
#Afficher df_final2
df_final2

,Genre,Age,Classe,Appreciation,Age_bins_oe,Classe_eo,Appreciation_eo,Genre_Mâle,Genre_femelle
0,femelle,20-30,Économique,Satisfait,1.0,0.0,3.0,0.0,1.0
1,Mâle,20-30,Affaires,Insatisfait,1.0,1.0,1.0,1.0,0.0
2,Mâle,31-40,Économique,Neutre,2.0,0.0,2.0,1.0,0.0
3,femelle,41-50,Première,Satisfait,3.0,2.0,3.0,0.0,1.0
4,femelle,<20,Économique,Très Satisfait,0.0,0.0,4.0,0.0,1.0
5,Mâle,31-40,Économique,Très Insatisfait,2.0,0.0,0.0,1.0,0.0