<a href="https://colab.research.google.com/github/pia-fcse-bdeb/Cours-EDUlib/blob/master/module-3/Exercices/pratique_imputing.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Pratique imputing

## Lire le fichier de données en utilisant pandas.read_csv

On vous fournit les lignes de codes qui permettent de charger les données, vous pouvez soit :

* Télécharger le fichier de données et procéder à son chargement sur votre machine locale ou bien sur google Colab. Pour cela, il vous faut décommenter la cellule A et commenter la cellule B.
* Charger les données directement depuis google drive sans avoir à télécharger le fichier sur votre machine locale. Pour ce faire, utilisez les lignes de code de la cellule B.

### Cellule A

In [ ]:
# # importer la librairie pandas
# import pandas as pd
# # lecture du fichier de données
# data = pd.read_csv("voitures.csv", sep= ";")

### Cellule B

In [ ]:
# importer la librairie pandas
import pandas as pd

# charger les données contenues dans un fichiers csv se trouvant sur drive
URL = 'https://drive.google.com/file/d/1ZQk2jnBTxpMxtYqwsBNzxW3P4uUzyPZX/view?usp=sharing'

voitures = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]
data = pd.read_csv(voitures, sep= ";")

# faire une copie de data
df = data.copy()
# Afficher un échatillon du dataframe
df.sample(5)

## Pratique 1

In [ ]:
# Obtenir le shape du dataframe
df.shape

* Note:
    le dataframe contient 83 enregistrements (lignes) et 6 séries (colonnes)

In [3]:
# Vérifier la présence de valeurs manquantes et indiquer le nombre de valeur manquantes dans chaque série
...

In [4]:
# En s'aidant du shape, afficher le pourcentage de valeurs manquantes pour chaque série du dataframe
percentage = ...

In [ ]:
# afficher 2 chiffres après la virgule
print(round(percentage, ndigits = 2))

## Pratique 2

### Afficher les valeurs manquantes de la série nbre_porte

* Notes:
    * On va commencer par caractériser les valeurs manquantes
    * comme le nombre de valeurs manquantes est faible, on peut se permettre de les afficher, pour cela, on va utiliser le booléen indexing comme on a pu le voir dans la vidéo.
    * la méthode .isnull() va retourner une série de False et True, quand on réinjecte le tout dans le dataframe, on obtiendra que les lignes égales des True

In [5]:
# Afficher pour la série nbre_porte, les enregistrements contenants des valeurs manquantes
...

### Remplacer les valeurs manquantes dans la série nbre_porte

* On va suivre le même cheminement qu’on vu ensemble dans la vidéo du cours.

In [6]:
# Utilisez SimpleImputer et une stratégie de remplacement, justifier votre choix de stratégie

In [ ]:
# importer le module SimpleImputer
...

In [7]:
# creer l'objet simpleImputer
imp = ...

In [8]:
# creer l'objet simpleImputer
honda = ...
mazda = ...

In [ ]:
# correction pour honda et correction pour mazda
corr_honda = 
corr_mazda =

In [ ]:
# affecter les corrections
df.loc[..., ...] = corr_honda
df.loc[..., ...] = corr_mazda

In [ ]:
# Procéder à une vérification
...

### Remplacer des valeurs manquantes pour la série carburant

In [9]:
# afficher les valeurs manquantes dans un dataframe
...

In [10]:
# Affecter une valeur de remplacement
...

In [ ]:
# Procéder à une vérification
...

# Solutionnaire

## pratique 1

In [1]:
# importer la librairie pandas
import pandas as pd

# charger les données contenues dans un fichiers csv se trouvant sur drive
URL = 'https://drive.google.com/file/d/1ZQk2jnBTxpMxtYqwsBNzxW3P4uUzyPZX/view?usp=sharing'
voitures = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]

data = pd.read_csv(voitures, sep= ";")

# faire une copie de data
df = data.copy()
# Afficher un échatillon du dataframe
df.sample(5)

    marque carburant traction nbre_porte  puissance     prix
77  toyota       gaz      fwd     quatre       92.0  10898.0
1     audi       gaz      4wd     quatre      115.0  17450.0
61  toyota       gaz      fwd     quatre       70.0   7738.0
39   mazda       gaz      fwd     quatre       84.0  10245.0
60  toyota    diesel      fwd     quatre       56.0   7788.0

In [2]:
# Obtenir le shape du dataframe
df.shape

(83, 6)

* Note:
    le dataframe contient 83 enregistrements et 6 séries (colonnes)

In [5]:
# Vérifier la présence de valeurs manquantes et le cas échéant, indiquer le nombre de valeur manquantes
df.isnull().sum()

marque        0
carburant     2
traction      0
nbre_porte    3
puissance     0
prix          0
dtype: int64

In [6]:
# En s'aidant du shape, afficher le pourcentage de valeurs manquantes pour chaque série du dataframe
percentage = (df.isnull().sum() / df.shape[0]) * 100

# afficher 2 chiffres après la virgule
print(round(percentage, ndigits = 2))

marque        0.00
carburant     2.41
traction      0.00
nbre_porte    3.61
puissance     0.00
prix          0.00
dtype: float64

## pratique 2

### Afficher les valeurs manquantes de la série nbre_porte

* Notes:
    * On va commencer par caractériser les valeurs manquantes
    * comme le nombre de valeurs manquantes est faible, on peut se permettre de les afficher, pour cela, on va utiliser le booléen indexing comme on a pu le voir dans la vidéo.
    * la méthode .isnull() va retourner une série de False et True, quand on réinjecte le tout dans le dataframe, on obtiendra que les lignes égales à des True

In [15]:
# Afficher pour la série nbre_porte, les enregistrements contenants des valeurs manquantes
df[df["nbre_porte"].isnull()]

   marque carburant traction nbre_porte  puissance     prix
16  honda       gaz      fwd        NaN       60.0   5399.0
21  honda       gaz      fwd        NaN       86.0   7895.0
40  mazda    diesel      fwd        NaN       64.0  10795.0

### Remplacer les valeurs manquantes dans la série nbre_porte

* Attention, on a des valeurs manquantes pour deux marques différentes, on doit donc les considérer indépendamment l'une de l'autre lors du imputing
* La série **nbre_porte** est catégorielle, on va donc choisir la stratégie **most_frequent** qui semble plus judicieuse que la médiane ou encore la moyenne.

In [16]:
# importer le module SimpleImputer
from sklearn.impute import SimpleImputer

In [17]:
# creer l'objet simpleImputer
imp = SimpleImputer(strategy="most_frequent")

In [18]:
# créer un dataframe pour chaque marque qui nous intéresse
honda = df[df.marque =="honda"]
mazda = df[df.marque =="mazda"]

In [19]:
# faire un fit_transform et stocker la correction
corr_honda = imp.fit_transform(honda)[:,3]
corr_mazda = imp.fit_transform(mazda)[:,3]

In [20]:
# affecter les corrections
df.loc[df.marque == "honda", "nbre_porte"] = corr_honda
df.loc[df.marque == "mazda", "nbre_porte"] = corr_mazda

In [21]:
# verification
df.isnull().sum()

marque        0
carburant     2
traction      0
nbre_porte    0
puissance     0
prix          0
dtype: int64

### Remplacement des valeurs manquantes pour la série carburant

In [22]:
# afficher les valeurs manquantes dans un dataframe
df[df.carburant.isnull()]

     marque carburant traction nbre_porte  puissance    prix
49  renault       NaN      fwd     quatre       69.0  9295.0
50  renault       NaN      fwd       deux       79.0  9895.0

* Note:
    * Toutes les valeurs manquantes concerne la marque renault, on peut soit supprimer ces deux lignes mais on perd de l'information ou bien aller chercher la valeur de remplacement à partir d'une autre source de donnée.
    * Par exemple après quelques recherche on peut trouver que pour cette marque de voiture le carburant le plus fréquent est gaz

In [23]:
# Affecter le mot gaz aux valeurs manquantes
df.loc[df.marque == "renault", "carburant"] = "gaz"

In [24]:
# verification 
df.isnull().sum()

marque        0
carburant     0
traction      0
nbre_porte    0
puissance     0
prix          0
dtype: int64

* Notre dataframe ne contient plus de valeurs manquantes