In [2]:
import sqlite3

In [4]:
# Instanciation de la base de donnee sqlite
con=sqlite3.connect("base.db")
req='''create table if not exists employe(
  id integer primary key autoincrement,
  name text,
  salaire real
)'''
curseur=con.cursor()
curseur.execute(req)

In [11]:
# Insertion de donnee dans la base de donnee
nom=input("Entre votre nom :")
salaire=float(input("Entrer votre salair :"))
requet="insert into employe(name,salaire) values(?,?)"
curseur.execute(requet, [nom,salaire])
con.commit()

Entre votre nom :ducon
Entrer votre salair :987654

In [14]:
select="select * from employe"
curseur.execute(select)

print("="*30)
for ligne in curseur.fetchall():
  print("nom=",ligne[1], "salaire=",ligne[2])

==============================
nom= sidibe salaire= 20000000.0
nom= fatou salaire= 2345678.0
nom= eva michelle salaire= 456789.0
nom= moussa salaire= 5679876.0
nom= ducon salaire= 987654.0