In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("..\\fichiers\\voitures.csv", sep=";")
df = data.copy()
df.head()

  marque carburant traction nbre_porte  puissance     prix
0   audi       gaz      fwd     quatre      102.0  13950.0
1   audi       gaz      4wd     quatre      115.0  17450.0
2   audi       gaz      fwd       deux      110.0  15250.0
3   audi       gaz      fwd     quatre      110.0  17650.0
4   audi       gaz      fwd     quatre      110.0  18920.0

In [6]:
# Afficher un échatillon du dataframe
df.sample(5)
# Obtenir le shape du dataframe
df.shape

(83, 6)

In [8]:
# Vérifier la présence de valeurs manquantes et indiquer le nombre de valeur manquantes dans chaque série
df.isnull().sum()

marque        0
carburant     2
traction      0
nbre_porte    3
puissance     0
prix          0
dtype: int64

In [4]:
# En s'aidant du shape, afficher le pourcentage de valeurs manquantes pour chaque série du dataframe
percentage = (df.isnull().sum() / df.shape[0]) * 100
# afficher 2 chiffres après la virgule
print(round(percentage, ndigits = 2))

marque        0.00
carburant     2.41
traction      0.00
nbre_porte    3.61
puissance     0.00
prix          0.00
dtype: float64

In [10]:
# Afficher pour la série nbre_porte, les enregistrements contenants des valeurs manquantes
df[df.nbre_porte.isnull()]

   marque carburant traction nbre_porte  puissance     prix
16  honda       gaz      fwd        NaN       60.0   5399.0
21  honda       gaz      fwd        NaN       86.0   7895.0
40  mazda    diesel      fwd        NaN       64.0  10795.0

In [11]:
# Utilisez SimpleImputer et une stratégie de remplacement, justifier votre choix de stratégie 
from sklearn.impute import SimpleImputer

In [12]:
''' imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean') : effectuer la moyenne en ignorant les valeur manquante NaN'''
imp = SimpleImputer(strategy="most_frequent")

In [19]:
# créer un dataframe pour chaque marque qui nous intéresse
data_honda = df[df.marque=='honda']
data_mazda = df[df.marque=='mazda']

In [21]:
# Correction des valeur manquantes
corr_honda = imp.fit_transform(data_honda)[:,3]
corr_mazda = imp.fit_transform(data_mazda)[:,3]

In [26]:
# Affecter les corrections
df.loc[df.marque=="honda","nbre_marque"] = corr_honda    # Slacing df.loc[ligne,colonne]
df.loc[df.marque=="mazda", "nbre_marque"] = corr_mazda

In [27]:
df.isnull().sum()

marque          0
carburant       2
traction        0
nbre_porte      0
puissance       0
prix            0
nbre_marque    53
dtype: int64

In [29]:
# afficher les valeurs manquantes "carburant" dans un dataframe
df[df.carburant.isnull()]

     marque carburant traction nbre_porte  puissance    prix nbre_marque
49  renault       NaN      fwd     quatre       69.0  9295.0         NaN
50  renault       NaN      fwd       deux       79.0  9895.0         NaN

In [30]:
# Affecter une valeur de remplacement
df.loc[df.marque=="renault", "carburant"] = "gaz"

In [31]:
# Verification
df.isnull().sum()

marque          0
carburant       0
traction        0
nbre_porte      0
puissance       0
prix            0
nbre_marque    53
dtype: int64