In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("..\\fichiers\\voitures.csv", sep=";")
df = data.copy()
df.head()

  marque carburant traction nbre_porte  puissance     prix
0   audi       gaz      fwd     quatre      102.0  13950.0
1   audi       gaz      4wd     quatre      115.0  17450.0
2   audi       gaz      fwd       deux      110.0  15250.0
3   audi       gaz      fwd     quatre      110.0  17650.0
4   audi       gaz      fwd     quatre      110.0  18920.0

In [6]:
# Afficher un échatillon du dataframe
df.sample(5)
# Obtenir le shape du dataframe
df.shape

(83, 6)

In [9]:
# Vérifier la présence de valeurs manquantes et indiquer le nombre de valeur manquantes dans chaque série
df.isnull().sum()

marque        0
carburant     2
traction      0
nbre_porte    3
puissance     0
prix          0
dtype: int64

In [10]:
# En s'aidant du shape, afficher le pourcentage de valeurs manquantes pour chaque série du dataframe
percentage = (df.isnull().sum() / df.shape[0]) * 100
# afficher 2 chiffres après la virgule
print(round(percentage, ndigits = 2))

marque        0.00
carburant     2.41
traction      0.00
nbre_porte    3.61
puissance     0.00
prix          0.00
dtype: float64